In [1]:
#Imports
import pandas as pd
from datetime import datetime
import numpy as np

#Variables
print("How many players?")
players = int(input())
print("What is the month and year? (MMM/YYYY)")
monthAndYear = input()
print("What is the in-game date? (DD/MM/YYYY)")
gameDate = input()

#DataFrame Settings
df = pd.read_excel("HJK {monthAndYear}.xlsx".format(monthAndYear = monthAndYear))
pd.set_option('display.max_rows', 100)


#Constants
month = 31
year = 365

#Program
pos = df['Best Pos']
df.drop(['Best Pos', "No.", "Nat", "Ability", "Potential"], axis=1,inplace = True)
df.insert(0, 'Best Pos', pos)

df.loc[df['Name'].str.split().str.len() == 3, 'Name'] = df['Name'].str.split().str[-1]
df.loc[df['Name'].str.split().str.len() == 2, 'Name'] = df['Name'].str.split().str[-1]
df.loc[df['Name'].str.split().str.len() == 1, 'Name'] = df['Name'].str.split().str[-1]

df["Best Pos"].replace("D (R)", "RB", inplace=True)
df["Best Pos"].replace("D (C)", "CB", inplace=True)
df["Best Pos"].replace("D (L)", "LB", inplace=True)

df["Best Pos"].replace("M (R)", "RM", inplace=True)
df["Best Pos"].replace("M (C)", "CM", inplace=True)
df["Best Pos"].replace("M (L)", "LM", inplace=True)

df["Best Pos"].replace("AM (R)", "RW", inplace=True)
df["Best Pos"].replace("AM (C)", "AM", inplace=True)
df["Best Pos"].replace("AM (L)", "LW", inplace=True)

df["Best Pos"].replace("ST (C)", "ST", inplace=True)

df["Home-Grown Status"].replace("Trained at club (15-21)", "C", inplace=True)
df["Home-Grown Status"].replace("Trained at club (0-21)", "C", inplace=True)
df["Home-Grown Status"].replace("Trained in nation (15-21)", "H", inplace=True)
df["Home-Grown Status"].replace("Trained in nation (0-21)", "H", inplace=True)
#df["Home-Grown Status"].replace("-", "", inplace=True)
#df["Due Date"].replace("club (15-21)", "C", regex=True, inplace=True)
df["Due Date"].replace("\(club 15-21\)", "C", regex=True, inplace=True)
df["Due Date"].replace("\(nation 15-21\)", "H", regex=True, inplace=True)


df['Date'], df['Future State'] = df['Due Date'].str.split(' ', 1).str
df['Future State'] = df['Future State'].fillna("-")
df.drop(["Due Date"], axis=1,inplace = True)

df.insert(7, "Actual Date", [gameDate] * players)

df[["Actual Date",'Date']] = df[["Actual Date",'Date']].apply(pd.to_datetime, errors="coerce")


df['HGN Days'] = (df['Date'] - df['Actual Date']).dt.days
df["HGN Days"] = df["HGN Days"].fillna(0)
df.drop(["Actual Date", "Date"], axis=1,inplace = True)
df["HGN Days"] = (df["HGN Days"] / month).apply(np.ceil)

df["HGN Days"] = df["HGN Days"].astype(int)

pos = df["Home-Grown Status"]
df.drop(["Home-Grown Status"], axis=1,inplace = True)
df.insert(1, "Home-Grown Status", pos)

df['Transfer Value'], df['Maximum Value'] = df['Transfer Value'].str.split(' - ', 1).str
df.drop(["Transfer Value"], axis=1,inplace = True)
df["Maximum Value"] = df["Maximum Value"].fillna(0)

df["Home-Grown Status"].replace("-", "", regex=True, inplace=True)
df["Future State"].replace("-", "", regex=True, inplace=True)

df.rename(columns = {'Home-Grown Status':'Status', 'Future State':'Fut', "HGN Days":"Months"}, inplace = True)

pos = df["Fut"]
df.drop(["Fut"], axis=1,inplace = True)
df.insert(2, "Fut", pos)

df["Maximum Value"] = df["Maximum Value"].str.replace('£', '').str.replace('K', '000').str.replace('M', '00000').str.replace(".", "")
df["Maximum Value"] = df["Maximum Value"].fillna(0)
df["Maximum Value"] = df["Maximum Value"].astype(int)

#df = df.sort_values(by=['Maximum Value'], ascending=False)

df["HGN"] = df["Status"] + df["Fut"]
df.drop(["Maximum Value", "Status", "Fut"], axis=1,inplace = True)


pos = df['HGN']
df.drop(['HGN'], axis=1,inplace = True)
df.insert(0, 'HGN', pos)

pos = df['Months']
df.drop(['Months'], axis=1,inplace = True)
df.insert(1, 'Months', pos)

mask = df['Best Pos'].ne(df['Best Pos'].shift(-1))
df1 = pd.DataFrame('',index=mask.index[mask] + .5, columns=df.columns)
df = pd.concat([df, df1]).sort_index().reset_index(drop=True).iloc[:-1]

df.drop(['Best Pos'], axis=1,inplace = True)
df["Months"].replace(0, "", inplace=True)


df.to_excel('HJK {monthAndYear} Final.xlsx'.format(monthAndYear = monthAndYear), index=False, startrow=-1)



df

How many players?
76
What is the month and year? (MMM/YYYY)
Aug 2027
What is the in-game date? (DD/MM/YYYY)
15/08/2027

<ipython-input-1-48156fe83522>:56: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['Date'], df['Future State'] = df['Due Date'].str.split(' ', 1).str
<ipython-input-1-48156fe83522>:76: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['Transfer Value'], df['Maximum Value'] = df['Transfer Value'].str.split(' - ', 1).str
<ipython-input-1-48156fe83522>:89: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df["Maximum Value"] = df["Maximum Value"].str.replace('£', '').str.replace('K', '000').str.replace('M', '00000').str.replace(".", "")

   HGN Months                   Name Age
0    C                     Høyenhall  21
1    C                       Soisalo  19
2                          Fernández  20
3    C     37                Jiménez  18
4    C                         Kavén  19
5    C     35                Hautala  18
6
7    H                     Haapasalo  21
8    C                  Aðalgeirsson  19
9                                 Ng  31
10   C                         Wargh  22
11   C                      Ylitolva  23
12  HC     23              Andersson  17
13
14   C     23               Vinicius  19
15   C     23                  Jonáš  18
16   C                         Halme  29
17                           Schuurs  27
18                     Schlotterbeck  30
19   C                     Reynatrøð  21
20   C                     Heikkinen  17
21   C                          Lund  19
22   H                      Raitanen  26
23   C                     Kuittinen  24
24   C                        Sadiki  22
25  HC     11                Koivula  18
26  HC      5              Turpeinen  17
27
28                             Tymon  28
29   C                       Shongwe  20
30   C                         Alves  22
31   H                      Haukioja  27
32   C     23             Maksimović  19
33   C                       Mattila  20
34  CC      5             Hämäläinen  16
35
36   C     23           Abdurahmanov  19
37                              Vera  27
38                          Sarriegi  19
39
40   C                      Guðnason  20
41   C                        Hansen  22
42   C                      Andresen  22
43   C                       Linjala  22
44
45                           Rašević  21
46   H                      Kairinen  28
47   C                         Walta  24
48   H                         Patut  24
49                         Bernemann  19
50   C     37               Živković  18
51                            Nandín  19
52   C                       Nielsen  19
53   C     13                 Hansen  20
54   C                         Niemi  21
55   C                     Leislahti  19
56   C                      Nieminen  19
57  HC      5               Tamminen  17
58   C                        Pelvas  18
59   C     37                   Şair  16
60
61   C     37               González  18
62   C                     Björkskog  22
63
64                              Ruiz  21
65   C                      Bardghji  21
66   C                      Talvitie  22
67   C                        Guindo  24
68
69                           Norheim  22
70                             Coval  19
71  HC      5               Bertrand  16
72                                Yi  20
73   C                       Gabriel  22
74   C                         Lattu  21
75   C                        Vainio  22
76
77                             Meier  26
78                           Asencio  29
79   C         Roald van der Heijden  21
80   H                     Stavitski  28
81
82   C                         Lahti  20
83                           McNeill  23
84                            Ementa  25
85  CC      5                 Santos  16
86   C                         Remes  18

In [56]:
df["Best Pos"].unique()

array(['GK', 'RB', 'DM', 'RM', 'CM', 'LM', 'RW', 'AM', 'LW', 'ST'],
      dtype=object)

In [122]:
round(0.51)

1

In [180]:
#Imports
import pandas as pd
from datetime import datetime
import numpy as np

#DataFrame Settings
df = pd.read_excel("HJK Nov 2022.xlsx")
pd.set_option('display.max_rows', 100)

#Constants
month = 31
year = 365

#Program
pos = df['Best Pos']
df.drop(['Best Pos', "No.", "Nat", "Ability", "Potential"], axis=1,inplace = True)
df.insert(0, 'Best Pos', pos)

df.loc[df['Name'].str.split().str.len() == 3, 'Name'] = df['Name'].str.split().str[-1]
df.loc[df['Name'].str.split().str.len() == 2, 'Name'] = df['Name'].str.split().str[-1]
df.loc[df['Name'].str.split().str.len() == 1, 'Name'] = df['Name'].str.split().str[-1]

df["Best Pos"].replace("D (R)", "RB", inplace=True)
df["Best Pos"].replace("D (C)", "RB", inplace=True)
df["Best Pos"].replace("D (L)", "RB", inplace=True)

df["Best Pos"].replace("M (R)", "RM", inplace=True)
df["Best Pos"].replace("M (C)", "CM", inplace=True)
df["Best Pos"].replace("M (L)", "LM", inplace=True)

df["Best Pos"].replace("AM (R)", "RW", inplace=True)
df["Best Pos"].replace("AM (C)", "AM", inplace=True)
df["Best Pos"].replace("AM (L)", "LW", inplace=True)

df["Best Pos"].replace("ST (C)", "ST", inplace=True)

df["Home-Grown Status"].replace("Trained at club (15-21)", "C", inplace=True)
df["Home-Grown Status"].replace("Trained at club (0-21)", "C", inplace=True)
df["Home-Grown Status"].replace("Trained in nation (15-21)", "H", inplace=True)
df["Home-Grown Status"].replace("Trained in nation (0-21)", "H", inplace=True)
#df["Home-Grown Status"].replace("-", "", inplace=True)
#df["Due Date"].replace("club (15-21)", "C", regex=True, inplace=True)
df["Due Date"].replace("\(club 15-21\)", "C", regex=True, inplace=True)
df["Due Date"].replace("\(nation 15-21\)", "H", regex=True, inplace=True)


df['Date'], df['Future State'] = df['Due Date'].str.split(' ', 1).str
df['Future State'] = df['Future State'].fillna("-")
df.drop(["Due Date"], axis=1,inplace = True)


df[["Actual Date",'Date']] = df[["Actual Date",'Date']].apply(pd.to_datetime, errors="coerce")

df

<ipython-input-180-e1ce44d319f3>:47: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['Date'], df['Future State'] = df['Due Date'].str.split(' ', 1).str

,Best Pos,Name,Age,Transfer Value,Home-Grown Status,Actual Date,Date,Future State
0,GK,Fabiański,37,£14K - £60K,-,2022-11-29,NaT,-
1,GK,Sinisalo,21,£120K - £500K,-,2022-11-29,NaT,-
2,GK,Tånnander,22,£170K - £425K,-,2022-11-29,NaT,-
3,GK,Henriksson,19,£24K - £200K,C,2022-11-29,NaT,-
4,GK,Partanen,18,£3.5K - £26K,H,2022-11-29,2024-11-28,C
5,GK,Ramula,17,£2K - £120K,C,2022-11-29,2022-12-29,H
6,GK,Jantunen,17,£2.5K - £55K,C,2022-11-29,2022-12-29,C
7,GK,Jadue,17,£6K - £230K,H,2022-11-29,2022-12-30,C
8,RB,Gbé,20,£35K - £190K,-,2022-11-29,2023-02-20,H
9,RB,Moren,31,£220K - £350K,C,2022-11-29,NaT,-
10,RB,Tenho,27,£150K - £600K,H,2022-11-29,NaT,-
11,RB,Peltola,20,£45K - £240K,C,2022-11-29,NaT,-
12,RB,Ylitolva,18,£400K - £700K,H,2022-11-29,2024-11-22,C
13,RB,Häggström,18,£3K - £40K,H,2022-11-29,2024-11-24,C
14,RB,Wargh,17,£325K - £600K,C,2022-11-29,2022-12-30,C
15,RB,Toivio,34,£16K - £40K,C,2022-11-29,NaT,-
16,RB,Halme,24,£350K - £750K,C,2022-11-29,NaT,-
17,RB,Hoskonen,25,£95K - £375K,H,2022-11-29,NaT,-
18,RB,Raitanen,21,£110K - £425K,H,2022-11-29,2022-12-30,H
19,RB,Mäkinen,19,£30K - £55K,H,2022-11-29,2023-02-20,C
20,RB,Koskela,19,£210K - £350K,H,2022-11-29,NaT,-
21,RB,Ketting,26,£550K - £850K,-,2022-11-29,NaT,-
22,RB,Tamberg,19,£500 - £2K,-,2022-11-29,NaT,-
23,RB,Jansson,18,£5K - £80K,C,2022-11-29,2023-05-29,C
24,RB,Arminen,18,£40K - £75K,C,2022-11-29,2023-09-16,C
25,RB,Kuittinen,19,£75K - £450K,H,2022-11-29,2024-06-28,C
26,RB,Grönblom,17,£110K - £210K,C,2022-11-29,2022-12-29,C
27,RB,Sadiki,17,£12K - £120K,H,2022-11-29,2022-12-30,C
28,RB,Gadafi,21,£150K - £375K,-,2022-11-29,NaT,-
29,RB,Hämäläinen,25,£475K - £750K,-,2022-11-29,NaT,-
30,RB,Haukioja,23,£400K - £850K,H,2022-11-29,NaT,-
31,DM,Martic,27,0,-,2022-11-29,NaT,-
32,DM,Oksanen,22,£140K - £550K,-,2022-11-29,NaT,-
33,RM,Saksela,29,£1K - £2.5K,H,2022-11-29,NaT,-
34,RM,Hannola,21,£110K - £425K,H,2022-11-29,NaT,-
35,RM,Kouassivi-Benissan,23,£60K - £240K,C,2022-11-29,NaT,-
36,CM,Jair,28,£550K - £750K,-,2022-11-29,NaT,-
37,CM,Väänänen,20,£85K - £425K,C,2022-11-29,NaT,-
38,CM,Yli-Kokko,21,£14K - £35K,C,2022-11-29,NaT,-
39,CM,Zonta,25,£600K - £800K,-,2022-11-29,NaT,-
40,CM,Moina,21,£250K,-,2022-11-29,NaT,-
41,CM,Mathew,25,£475K - £750K,-,2022-11-29,NaT,-
42,CM,Hacen,24,£350K,-,2022-11-29,NaT,-
43,CM,Dewez,20,£375K - £600K,-,2022-11-29,2023-06-29,C
44,CM,Kujasalo,18,£1K - £6K,C,2022-11-29,NaT,-
45,CM,Möller,17,£100K - £200K,C,2022-11-29,NaT,-
46,CM,Toivonen,17,£3K - £170K,H,2022-11-29,2022-12-26,C
47,CM,Anttila,17,£5K - £70K,C,2022-11-29,2022-12-30,C
48,LM,Vuorinen,17,£80K - £160K,H,2022-11-29,2022-12-26,C
49,RW,Guindo,19,£275K - £450K,-,2022-11-29,2024-06-28,C
50,RW,Olusanya,22,£500 - £1.5K,H,2022-11-29,NaT,-
51,RW,Terho,19,£35K - £250K,C,2022-11-29,NaT,-
52,RW,Boujellab,23,£230K - £2.3M,-,2022-11-29,NaT,-
53,RW,Burton,18,£3K - £20K,C,2022-11-29,2022-05-12,C
54,RW,Leonoff,16,£35K - £325K,C,2022-11-29,2022-12-30,C
55,AM,Giovinco,35,£500 - £2K,-,2022-11-29,NaT,-
56,AM,Suhonen,21,£1.8M - £2.8M,H,2022-11-29,NaT,-
57,AM,Vainio,17,£35K - £275K,H,2022-11-29,2022-12-30,H
58,AM,Lattu,16,£16K - £150K,H,2022-11-29,2023-12-31,C
59,LW,Riski,33,£7K - £26K,H,2022-11-29,NaT,-
60,LW,Soiri,28,£350K - £750K,H,2022-11-29,NaT,-
61,LW,Stavitski,23,£450K - £700K,H,2022-11-29,NaT,-
62,LW,Pynadath,20,£180K,-,2022-11-29,2023-06-29,H
63,LW,Asencio,24,£275K - £600K,-,2022-11-29,NaT,-
64,LW,Cayarga,26,£350K - £750K,-,2022-11-29,NaT,-
65,LW,Rökman,18,£6K - £80K,H,2022-11-29,2025-10-04,C
66,LW,Björkskog,18,£26K - £375K,H,2022-11-29,2024-11-10,C
67,LW,Lika,17,£8K - £210K,C,2022-11-29,2022-12-29,C
68,LW,Kabashi,17,£500K - £1.4M,H,2022-11-29,2022-12-30,C
69,ST,Touré,20,£190K,-,2022-11-29,2023-06-30,C
70,ST,Ementa,20,£170K - £700K,-,2022-11-29,NaT,-
71,ST,Riski,31,£140K - £350K,H,2022-11-29,NaT,-
72,ST,Meriluoto,19,£45K - £300K,C,2022-11-29,NaT,-
73,ST,Berete,19,£65K - £400K,-,2022-11-29,2023-06-25,C
74,ST,Hardén,17,£1K - £120K,C,2022-11-29,NaT,-
75,ST,João,16,£3K - £300K,C,2022-11-29,2023-12-31,C
76,ST,Lahti,15,£45K - £425K,C,2022-11-29,2023-08-05,H

In [202]:
#Imports
import pandas as pd
from datetime import datetime
import numpy as np

#DataFrame Settings
df = pd.read_excel("HJK Nov 2022.xlsx")
pd.set_option('display.max_rows', 100)

df.insert(8, "Actual Date", ["29/11/2022"] * 77)

df

,No.,Name,Age,Best Pos,Nat,Transfer Value,Home-Grown Status,Due Date,Actual Date,Ability,Potential
0,-,Łukasz Fabiański,37,GK,POL,£14K - £55K,-,-,29/11/2022,NaN,NaN
1,35,Viljami Sinisalo,21,GK,FIN,£120K - £500K,-,-,29/11/2022,NaN,NaN
2,25,Jakob Tånnander,22,GK,SWE,£170K - £425K,-,-,29/11/2022,NaN,NaN
3,-,Elmo Henriksson,19,GK,FIN,£24K - £200K,Trained at club (15-21),-,29/11/2022,NaN,NaN
4,-,Aleksi Partanen,18,GK,FIN,£3.5K - £26K,Trained in nation (0-21),5/12/2024 (club 15-21),29/11/2022,NaN,NaN
5,-,Alex Ramula,17,GK,FIN,£2K - £120K,Trained at club (0-21),29/12/2022 (nation 15-21),29/11/2022,NaN,NaN
6,-,Jaaso Jantunen,17,GK,FIN,£2.5K - £55K,Trained at club (0-21),29/12/2022 (club 15-21),29/11/2022,NaN,NaN
7,-,Axel Jadue,17,GK,CHI,£6K - £230K,Trained in nation (15-21),30/12/2022 (club 15-21),29/11/2022,NaN,NaN
8,-,Jean-Jaurés Gbé,20,D (R),CIV,£65K - £375K,-,20/2/2023 (nation 15-21),29/11/2022,NaN,NaN
9,15,Valtteri Moren,31,D (R),FIN,£220K - £350K,Trained at club (15-21),-,29/11/2022,NaN,NaN
10,29,Miro Tenho,27,D (R),FIN,£150K - £600K,Trained in nation (15-21),-,29/11/2022,NaN,NaN
11,-,Matti Peltola,20,D (R),FIN,£45K - £240K,Trained at club (15-21),-,29/11/2022,NaN,NaN
12,-,Miska Ylitolva,18,D (R),FIN,£400K - £700K,Trained in nation (0-21),29/11/2024 (club 15-21),29/11/2022,NaN,NaN
13,-,Oscar Häggström,18,D (R),FIN,£3K - £40K,Trained in nation (0-21),1/12/2024 (club 15-21),29/11/2022,NaN,NaN
14,-,Teemu Wargh,17,D (R),FIN,£325K - £600K,Trained at club (0-21),30/12/2022 (club 15-21),29/11/2022,NaN,NaN
15,6,Joona Toivio,34,D (C),FIN,£16K - £40K,Trained at club (15-21),-,29/11/2022,NaN,NaN
16,5,Aapo Halme,24,D (C),FIN,£350K - £750K,Trained at club (15-21),-,29/11/2022,NaN,NaN
17,28,Arttu Hoskonen,25,D (C),FIN,£95K - £375K,Trained in nation (15-21),-,29/11/2022,NaN,NaN
18,-,Patrik Raitanen,21,D (C),FIN,£110K - £425K,Trained in nation (0-21),30/12/2022 (nation 15-21),29/11/2022,NaN,NaN
19,-,Joose Mäkinen,19,D (C),FIN,£30K - £55K,Trained in nation (0-21),20/2/2023 (club 15-21),29/11/2022,NaN,NaN
20,-,Miika Koskela,19,D (C),FIN,£210K - £350K,Trained in nation (15-21),-,29/11/2022,NaN,NaN
21,26,Rick Ketting,26,D (C),NED,£550K - £850K,-,-,29/11/2022,NaN,NaN
22,-,Jakob Tamberg,19,D (C),EST,£500 - £2K,-,-,29/11/2022,NaN,NaN
23,-,Rony Jansson,18,D (C),FIN,£5K - £80K,Trained at club (0-21),5/6/2023 (club 15-21),29/11/2022,NaN,NaN
24,-,Taavi Arminen,18,D (C),FIN,£40K - £75K,Trained at club (0-21),23/9/2023 (club 15-21),29/11/2022,NaN,NaN
25,20,Luka Kuittinen,19,D (C),FIN,£75K - £450K,Trained in nation (15-21),28/6/2024 (club 15-21),29/11/2022,NaN,NaN
26,-,William Grönblom,17,D (C),FIN,£110K - £210K,Trained at club (0-21),29/12/2022 (club 15-21),29/11/2022,NaN,NaN
27,-,Mërgim Sadiki,17,D (C),KVX,£12K - £120K,Trained in nation (0-21),30/12/2022 (club 15-21),29/11/2022,NaN,NaN
28,-,Mohammed Gadafi,21,D (L),GHA,£150K - £375K,-,-,29/11/2022,NaN,NaN
29,3,Niko Hämäläinen,25,D (L),FIN,£500K - £800K,-,-,29/11/2022,NaN,NaN
30,24,Martti Haukioja,23,D (L),FIN,£400K - £850K,Trained in nation (15-21),-,29/11/2022,NaN,NaN
31,17,Manuel Martic,27,DM,AUT,0,-,-,29/11/2022,NaN,NaN
32,-,Jaakko Oksanen,22,DM,FIN,£140K - £550K,-,-,29/11/2022,NaN,NaN
33,22,Janne Saksela,29,M (R),FIN,£500 - £1.5K,Trained in nation (15-21),-,29/11/2022,NaN,NaN
34,16,Pyry Hannola,21,M (R),FIN,£110K - £425K,Trained in nation (0-21),-,29/11/2022,NaN,NaN
35,12,Kevin Kouassivi-Benissan,23,M (R),FIN,£60K - £240K,Trained at club (15-21),-,29/11/2022,NaN,NaN
36,4,Jair,28,M (C),FIN,£550K - £750K,-,-,29/11/2022,NaN,NaN
37,-,Santeri Väänänen,20,M (C),FIN,£85K - £425K,Trained at club (15-21),-,29/11/2022,NaN,NaN
38,-,Johannes Yli-Kokko,21,M (C),FIN,£14K - £35K,Trained at club (15-21),-,29/11/2022,NaN,NaN
39,14,Loris Zonta,25,M (C),ITA,£600K - £800K,-,-,29/11/2022,NaN,NaN
40,31,Abdourahim Moina,21,M (C),COM,£250K,-,-,29/11/2022,NaN,NaN
41,21,Ifeanyi Mathew,25,M (C),NGA,£475K - £750K,-,-,29/11/2022,NaN,NaN
42,30,Hacen,24,M (C),MTN,£350K,-,-,29/11/2022,NaN,NaN
43,-,Djouliann Dewez,20,M (C),FRA,£375K - £600K,-,29/6/2023 (club 15-21),29/11/2022,NaN,NaN
44,-,Niilo Kujasalo,18,M (C),FIN,£1K - £6K,Trained at club (15-21),-,29/11/2022,NaN,NaN
45,-,Liam Möller,17,M (C),FIN,£100K - £200K,Trained at club (15-21),-,29/11/2022,NaN,NaN
46,-,Aaro Toivonen,17,M (C),FIN,£3K - £170K,Trained in nation (0-21),26/12/2022 (club 15-21),29/11/2022,NaN,NaN
47,-,Joonas Anttila,17,M (C),FIN,£5K - £70K,Trained at club (0-21),30/12/2022 (club 15-21),29/11/2022,NaN,NaN
48,-,Ville Vuorinen,17,M (L),FIN,£80K - £160K,Trained in nation (0-21),26/12/2022 (club 15-21),29/11/2022,NaN,NaN
49,34,Mohammed Guindo,19,AM (R),BEL,£275K - £450K,-,28/6/2024 (club 15-21),29/11/2022,NaN,NaN
50,-,Anthony Olusanya,22,AM (R),FIN,0,Trained in nation (15-21),-,29/11/2022,NaN,NaN
51,-,Casper Terho,19,AM (R),FIN,£35K - £250K,Trained at club (15-21),-,29/11/2022,NaN,NaN
52,8,Nassim Boujellab,23,AM (R),MAR,£230K - £2.3M,-,-,29/11/2022,Unknown,Unknown
53,-,Samuel Burton,18,AM (R),FIN,£3K - £20K,Trained at club (0-21),12/12/2022 (club 15-21),29/11/2022,NaN,NaN
54,-,Raimo Leonoff,16,AM (R),FIN,£35K - £325K,Trained at club (0-21),30/12/2022 (club 15-21),29/11/2022,NaN,NaN
55,18,Sebastian Giovinco,35,AM (C),ITA,0,-,-,29/11/2022,NaN,NaN
56,10,Anssi Suhonen,21,AM (C),FIN,£1.8M - £2.8M,Trained in nation (0-21),-,29/11/2022,NaN,NaN
57,-,Lauri Vainio,17,AM (C),FIN,£35K - £275K,Trained in nation (0-21),30/12/2022 (nation 15-21),29/11/2022,NaN,NaN
58,-,Antti Lattu,16,AM (C),FIN,£16K - £150K,Trained in nation (0-21),31/12/2023 (club 15-21),29/11/2022,NaN,NaN
59,27,Riku Riski,33,AM (L),FIN,£5K - £22K,Trained in nation (15-21),-,29/11/2022,NaN,NaN
60,23,Pyry Soiri,28,AM (L),FIN,£220K - £850K,Trained in nation (0-21),-,29/11/2022,NaN,NaN
61,11,Timo Stavitski,23,AM (L),FIN,£450K - £700K,Trained in nation (15-21),-,29/11/2022,NaN,NaN
62,-,Joshua Pynadath,20,AM (L),USA,£180K,-,29/6/2023 (nation 15-21),29/11/2022,NaN,NaN
63,9,Raúl Asencio,24,AM (L),ESP,£275K - £600K,-,-,29/11/2022,NaN,NaN
64,7,Berto Cayarga,26,AM (L),ESP,£350K - £750K,-,-,29/11/2022,NaN,NaN
65,-,Daniel Rökman,18,AM (L),FIN,£6K - £80K,Trained in nation (0-21),17/4/2025 (club 15-21),29/11/2022,NaN,NaN
66,-,Albin Björkskog,18,AM (L),FIN,£26K - £375K,Trained in nation (15-21),18/10/2024 (club 15-21),29/11/2022,NaN,NaN
67,-,Yllson Lika,17,AM (L),FIN,£8K - £210K,Trained at club (0-21),29/12/2022 (club 15-21),29/11/2022,NaN,NaN
68,19,Florim Kabashi,17,AM (L),KVX,£500K - £1.4M,Trained in nation (0-21),30/12/2022 (club 15-21),29/11/2022,NaN,NaN
69,-,Mômô Fanyé Touré,20,ST (C),GUI,£300K,-,30/6/2023 (club 15-21),29/11/2022,NaN,NaN
70,-,Anosike Ementa,20,ST (C),DEN,£170K - £700K,-,-,29/11/2022,NaN,NaN
71,13,Roope Riski,31,ST (C),FIN,£130K - £325K,Trained in nation (15-21),-,29/11/2022,NaN,NaN
72,-,Kai Meriluoto,19,ST (C),FIN,£45K - £300K,Trained at club (15-21),-,29/11/2022,NaN,NaN
73,32,Ibrahima Berete,19,ST (C),NED,£65K - £400K,-,25/6/2023 (club 15-21),29/11/2022,NaN,NaN
74,-,Kaius Hardén,17,ST (C),FIN,£1K - £120K,Trained at club (15-21),-,29/11/2022,NaN,NaN
75,-,Eduardo João,16,ST (C),FIN,£3K - £300K,Trained at club (0-21),31/12/2023 (club 15-21),29/11/2022,NaN,NaN
76,-,Jere Lahti,16,ST (C),FIN,£200K - £550K,Trained at club (0-21),8/5/2023 (nation 15-21),29/11/2022,NaN,NaN

In [10]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
import cv2

ModuleNotFoundError: No module named 'cv2'